body{
    background-image: url("./images/newWoodBackground2.jpg");
    background-size: 105% 120%;
    display: block;
    height: 97vh;
}

/* Header Div -----------------------------------------------------------------*/
#header{
    font-size: 1.5vh;
    color: antiquewhite;
    text-align: center;
    border: 2px inset rgb(122, 113, 113);
    background-color: rgba(0, 0, 0, 0.7);
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5), 0 0 5px rgba(0, 0, 0, 0.5), 0 0 5px rgba(0, 0, 0, 0.5);
    padding: 2%;
}

h1{
    margin: 0%;
}


/* Photo Div -----------------------------------------------------------------*/
#photoDiv{
    display: none;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 70%;
    padding: 3%;
    overflow: hidden;
}

img{
    border: 2px outset rgb(122, 113, 113);
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5), 0 0 5px rgba(0, 0, 0, 0.5), 0 0 5px rgba(0, 0, 0, 0.5);
    max-width: 50%;
    z-index: 2;
}


/* Recipe Div -----------------------------------------------------------------*/
#recipeDiv{
    display: none;
    justify-content: center;
    align-items: center;
    border: 2px inset rgb(122, 113, 113);
    background-color: rgba(0, 0, 0, 0.6);
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5), 0 0 5px rgba(0, 0, 0, 0.5), 0 0 5px rgba(0, 0, 0, 0.5);
    border-radius: 5%;
    height: 35vh;
    margin-bottom: 1vh;
    color: antiquewhite;
    overflow: scroll;
}

li{
    font-size: 2.2vh;
    list-style: none;
    padding: 1vh;
}

#recipeLabels{
    padding-left: 2vw;
    width: fit-content;
    font-weight: bold;
}

#recipeText{
    width: fit-content;
    padding-left: 0%;
}

.additionalIngredientsBlank{
    list-style: none;
    padding: 1em 0%;
}

.additionalIngredients{
    list-style: none;
}


/* Button Div -----------------------------------------------------------------*/
#btnDiv{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 99%;
    margin: 5% auto;
}

.all-buttons{
    display: none;
    margin: 1vh;
    height: 10vh;
    width: 25vw;
    padding: 0% 3%;
    font-size: 2vh;
    border-radius: 8%;
    border: 1px inset rgb(14, 14, 14);
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5), 0 0 5px rgba(0, 0, 0, 0.5), 0 0 5px rgba(0, 0, 0, 0.5);
    color: antiquewhite;
    background-color: rgb(0, 0, 0);
    cursor: pointer;
}

.drink-section-buttons{
    height: 14vh;
    width: 40vw;
    padding: 0% 10%;
}

/* Back Button Div -----------------------------------------------------------------*/
#backButtonDiv{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 90%;
    margin: auto;
}

#backButton{
    display: none;
    border-radius: 2%;
    width: 90%;
    height: 5vh;
}